/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd

# Swagger documentation
/storage/api-docs/api-docs.json

# DS STORE
.DS_STORE
